extends ./../layouts/default-layout.pug
block content
	
	| aaaaaa
	.container-fluid.p-2

		.row

			.col-6


				.card.mt-4

					//- INPUT SIZES
					
					.card-header
						.title Sizes

					.card-body
						.content

							.row

								.col

									.mb-3
										| We use the 
										b .progress 
										| as a wrapper to indicate the max value of the progress bar.
										| .
							
									.tag.tag-sm
										.tag-content
											| Small
									.tag
										.tag-content
											| Default
									.tag.tag-lg
										.tag-content
											| Large