<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Pug-Sass Starter</title>
    <!-- Styles-->
    <link href="/assets/css/styles.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6826777e4e.js" crossorigin="anonymous"></script>
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  </head>
  <body>
    <div class="contents">
      <div class="row mb-4">
        <div class="col-2">
          <div class="card card-widget">
            <div class="card-body">
              <div class="content">
                <div class="indicator primary"><span>Active Accounts</span>
                  <h1>970</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card card-widget">
            <div class="card-body">
              <div class="content">
                <div class="indicator primary"><span>Open</span>
                  <h1>8210</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card card-widget">
            <div class="card-body">
              <div class="content">
                <div class="indicator danger"><span>Overdue</span>
                  <h1>970</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card card-widget">
            <div class="card-body">
              <div class="content">
                <div class="indicator primary"><span>Active Accounts</span>
                  <h1>970</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card card-widget">
            <div class="card-body">
              <div class="content">
                <div class="indicator primary"><span>Open</span>
                  <h1>8210</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card card-widget">
            <div class="card-body">
              <div class="content">
                <div class="indicator danger"><span>Overdue</span>
                  <h1>970</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header"> 
              <div class="title flex-fill"><i class="fa-regular fa-sparkles"> </i>Recent Accounts</div>
            </div>
            <div class="card-table">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 45%"><span>Name</span></th>
                    <th scope="col" style="width: 25%"><span>Owner</span></th>
                    <th scope="col" style="width: 20%"><span>Created On</span></th>
                    <th scope="col" style="width: 10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="lead-text">Urban Gorilla Studios LLC</td>
                    <td class="text">Ryan Pullano</td>
                    <td class="text">Nov. 17th</td>
                    <td class="has-actions">
                      <ul class="text-center">
                        <li><a href="#"><i class="fa-regular fa-message"></i></a></li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td class="lead-text">Ideal Living, Inc.</td>
                    <td class="text">Mike King</td>
                    <td class="text">Nov. 17th</td>
                    <td class="has-actions">
                      <ul class="text-center">
                        <li><a href="#"><i class="fa-regular fa-message"></i></a></li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td class="lead-text">Rocket Clicks</td>
                    <td class="text">Luke Kilcoyne</td>
                    <td class="text">Nov. 17th</td>
                    <td class="has-actions">
                      <ul class="text-center">
                        <li><a href="#"><i class="fa-regular fa-message"></i></a></li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td class="lead-text">Clear Skies Marketing Group LLC</td>
                    <td class="text">Eric Hagelin</td>
                    <td class="text">Nov. 17th</td>
                    <td class="has-actions">
                      <ul class="text-center">
                        <li><a href="#"><i class="fa-regular fa-message"></i></a></li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td class="lead-text">The Modern Wall</td>
                    <td class="text">Sheila Mae Unabia</td>
                    <td class="text">Nov. 17th</td>
                    <td class="has-actions">
                      <ul class="text-center">
                        <li><a href="#"><i class="fa-regular fa-message"></i></a></li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header"> 
              <div class="title flex-fill"><i class="fa-regular fa-flag danger-500"></i>Overdue Requests</div>
            </div>
            <div class="card-table">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 40%"><span>Name</span></th>
                    <th scope="col" style="width: 25%"><span>Status</span></th>
                    <th scope="col" style="width: 15%"><span>Due On</span></th>
                    <th scope="col" style="width: 20%"><span>Design Type</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="lead-text">Black Friday Sale</td>
                    <td>
                      <div class="badge-status revision">Being Revised</div>
                    </td>
                    <td class="text danger-500">Nov. 17th</td>
                    <td class="text">Email Graphic</td>
                  </tr>
                  <tr>
                    <td class="lead-text">Autumn design</td>
                    <td>
                      <div class="badge-status revision">Being Revised</div>
                    </td>
                    <td class="text danger-500">Nov. 17th</td>
                    <td class="text">Display Banner Ads</td>
                  </tr>
                  <tr>
                    <td class="lead-text">TMS - Custom Frames for Catalog</td>
                    <td>
                      <div class="badge-status inprogress">In Progress</div>
                    </td>
                    <td class="text danger-500">Nov. 17th</td>
                    <td class="text">Facebook Ad</td>
                  </tr>
                  <tr>
                    <td class="lead-text">11/21 - U.S. AntibioticWeek - Benefits of Probiotics </td>
                    <td>
                      <div class="badge-status review">Ready for Review</div>
                    </td>
                    <td class="text danger-500">Nov. 17th</td>
                    <td class="text">Email Graphic</td>
                  </tr>
                  <tr>
                    <td class="lead-text">Unspoken Consulting 5 Facebook Ad Creatives - 2</td>
                    <td>
                      <div class="badge-status inprogress">In Progress</div>
                    </td>
                    <td class="text danger-500">Nov. 17th</td>
                    <td class="text">Facebook Ad</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="card mt-4">
            <div class="card-header"> 
              <div class="title flex-fill"><i class="fa-regular fa-gauge"> </i>Account Satisfaction</div>
            </div>
            <div class="card-table">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 45%"><span>Account</span></th>
                    <th scope="col" style="width: 25%"><span>Requests</span></th>
                    <th scope="col" style="width: 20%"><span>Satisfaction</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="lead-text">Urban Gorilla Studios LLC</td>
                    <td class="text">6</td>
                    <td class="text">
                      <div class="progress">
                        <div class="progress-bar success-500-bg" role="progressbar" aria-label="Basic example" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="lead-text">Ideal Living, Inc.</td>
                    <td class="text">111</td>
                    <td class="text">
                      <div class="progress">
                        <div class="progress-bar warning-500-bg" role="progressbar" aria-label="Basic example" style="width: 43%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="lead-text">Rocket Clicks</td>
                    <td class="text">38</td>
                    <td class="text">
                      <div class="progress">
                        <div class="progress-bar warning-500-bg" role="progressbar" aria-label="Basic example" style="width: 62%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="lead-text">Clear Skies Marketing Group LLC</td>
                    <td class="text">179</td>
                    <td class="text">
                      <div class="progress">
                        <div class="progress-bar danger-500-bg" role="progressbar" aria-label="Basic example" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="lead-text">The Modern Wall</td>
                    <td class="text">315</td>
                    <td class="text">
                      <div class="progress">
                        <div class="progress-bar success-500-bg" role="progressbar" aria-label="Basic example" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-bubble"><i class="fa-regular fa-message-question"></i>
      <div class="bubble-text">Support Chat</div>
    </div>
    <script src="./assets/js/scripts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
  </body>
</html>