<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Pug-Sass Starter</title>
    <!-- Styles-->
    <link href="/assets/css/styles.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6826777e4e.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid p-0">
      <div class="main-content">
        <nav class="sidebar">
          <div class="nav-container"><a class="brand"><img src="/assets/images/brand.png"></a>
            <div class="top-menu">
              <div class="impersonation-panel">
                <div class="avatar-label-group">
                  <div class="avatar">
                    <div class="avatar-container"></div>
                    <div class="online-indicator-on"></div>
                  </div>
                  <div class="avatar-label-group-container"><span class="title">John Oliveira</span><span class="subtitle">john@nlc.com</span></div>
                </div>
                <div class="tag tag-danger">
                  <div class="tag-content"> <i class="fa-regular fa-masks-theater"></i>Impersonating<i class="fa-regular fa-close gray-600"></i></div>
                </div>
              </div>
              <ul>
                <li><a class="menu-item" href="dashboard.html"> 
                    <div class="link-content"><i class="fa-regular fa-grid-2"></i>
                      <div>Dashboard</div>
                    </div></a></li>
                <li><a class="menu-item active" href="#"> 
                    <div class="link-content"><i class="fa-regular fa-bell"></i>
                      <div>Notifications</div>
                    </div>
                    <div class="badge">10</div></a></li>
                <li><a class="menu-item" href="#"> 
                    <div class="link-content"><i class="fa-regular fa-building"></i>
                      <div>Organizations</div>
                    </div></a></li>
                <li><a class="menu-item" href="#"> 
                    <div class="link-content"><i class="fa-regular fa-bars-progress"></i>
                      <div>Requests</div>
                    </div>
                    <div class="badge">10</div></a></li>
                <li><a class="menu-item" href="brands.html"> 
                    <div class="link-content"><i class="fa-regular fa-medal"></i>
                      <div>Brands</div>
                    </div></a></li>
                <li><a class="menu-item" href="users.html"> 
                    <div class="link-content"><i class="fa-regular fa-user"></i>
                      <div>Users</div>
                    </div></a></li>
                <li><a class="menu-item" href="#"> 
                    <div class="link-content"><i class="fa-regular fa-users"></i>
                      <div>Teams</div>
                    </div></a></li>
                <li><a class="menu-item" href="#"> 
                    <div class="link-content"><i class="fa-regular fa-cabinet-filing"></i>
                      <div>Accounts</div>
                    </div></a></li>
                <li><a class="menu-item" href="#"> 
                    <div class="link-content"><i class="fa-regular fa-file-chart-column"></i>
                      <div>Reports</div>
                    </div></a></li>
                <li><a class="menu-item" href="#"> 
                    <div class="link-content"><i class="fa-regular fa-lightbulb-cfl-on"></i>
                      <div>Inspiration</div>
                    </div></a></li>
              </ul>
            </div>
          </div>
          <div class="nav-container bottom-container">
            <ul>
              <li><a class="menu-item" href="#"> 
                  <div class="link-content"><i class="fa-regular fa-credit-card"></i>
                    <div>Billing</div>
                  </div></a></li>
              <li><a class="menu-item" href="#"> 
                  <div class="link-content"><i class="fa-regular fa-toolbox"></i>
                    <div>Tools</div>
                  </div></a></li>
              <li><a class="menu-item" href="#"> 
                  <div class="link-content"><i class="fa-regular fa-life-ring"></i>
                    <div>Support</div>
                  </div></a></li>
            </ul>
          </div>
        </nav>
        <div class="main-panel overflow-hidden">
          <nav class="navbar navbar-expand-lg" style="z-index: 1000 !important">
            <div class="container-fluid p-0">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="manage-plan">
                  <div class="plan-contents">
                    <div class="plan-label">Current Plan</div>
                    <div class="plan-description">Graphics + Video (Monthly)</div>
                  </div>
                  <div class="btn btn-sm btn-secondary-gray">Manage</div>
                </div>
                <div class="right">
                  <form class="d-flex me-3" role="search">
                    <div class="input-group"><span class="input-group-text"><i class="fa-regular fa-magnifying-glass"></i></span>
                      <input class="form-control" type="text" placeholder="Global Search" aria-label="Example" aria-describedby="addon">
                    </div>
                  </form>
                  <div class="avatar dropdown ms-3">
                    <div class="avatar-container dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></div>
                    <div class="indicator-icon"><i class="fa-regular fa-chevron-down"></i></div>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="user-profile.html"> <i class="fa-regular fa-user"> </i>Profile</a></li>
                      <li><a class="dropdown-item" href="settings.html"> <i class="fa-regular fa-gear"></i>Settings</a></li>
                      <li><a class="dropdown-item" href="#"> <i class="fa-regular fa-bullhorn"></i>Announcements</a></li>
                      <li><a class="dropdown-item" href="#"> <i class="fa-regular fa-user-astronaut"></i>Referral Program</a></li>
                      <li><a class="dropdown-item" href="#"> <i class="fa-regular fa-bug"></i>Report a Bug</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item danger" href="#"><i class="fa-regular fa-arrow-right-to-bracket"></i>Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <div class="contents">
            <div class="row mb-4">
              <div class="col-2">
                <div class="card card-widget">
                  <div class="card-body">
                    <div class="content">
                      <div class="indicator primary"><span>Active Accounts</span>
                        <h1>970</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card card-widget">
                  <div class="card-body">
                    <div class="content">
                      <div class="indicator primary"><span>Open</span>
                        <h1>8210</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card card-widget">
                  <div class="card-body">
                    <div class="content">
                      <div class="indicator danger"><span>Overdue</span>
                        <h1>970</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card card-widget">
                  <div class="card-body">
                    <div class="content">
                      <div class="indicator primary"><span>Active Accounts</span>
                        <h1>970</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card card-widget">
                  <div class="card-body">
                    <div class="content">
                      <div class="indicator primary"><span>Open</span>
                        <h1>8210</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card card-widget">
                  <div class="card-body">
                    <div class="content">
                      <div class="indicator danger"><span>Overdue</span>
                        <h1>970</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header"> 
                    <div class="title flex-fill"><i class="fa-regular fa-sparkles"> </i>Recent Accounts</div>
                  </div>
                  <div class="card-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" style="width: 45%"><span>Name</span></th>
                          <th scope="col" style="width: 25%"><span>Owner</span></th>
                          <th scope="col" style="width: 20%"><span>Created On</span></th>
                          <th scope="col" style="width: 10%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="lead-text">Urban Gorilla Studios LLC</td>
                          <td class="text">Ryan Pullano</td>
                          <td class="text">Nov. 17th</td>
                          <td class="has-actions">
                            <ul class="text-center">
                              <li><a href="#"><i class="fa-regular fa-message"></i></a></li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td class="lead-text">Ideal Living, Inc.</td>
                          <td class="text">Mike King</td>
                          <td class="text">Nov. 17th</td>
                          <td class="has-actions">
                            <ul class="text-center">
                              <li><a href="#"><i class="fa-regular fa-message"></i></a></li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td class="lead-text">Rocket Clicks</td>
                          <td class="text">Luke Kilcoyne</td>
                          <td class="text">Nov. 17th</td>
                          <td class="has-actions">
                            <ul class="text-center">
                              <li><a href="#"><i class="fa-regular fa-message"></i></a></li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td class="lead-text">Clear Skies Marketing Group LLC</td>
                          <td class="text">Eric Hagelin</td>
                          <td class="text">Nov. 17th</td>
                          <td class="has-actions">
                            <ul class="text-center">
                              <li><a href="#"><i class="fa-regular fa-message"></i></a></li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td class="lead-text">The Modern Wall</td>
                          <td class="text">Sheila Mae Unabia</td>
                          <td class="text">Nov. 17th</td>
                          <td class="has-actions">
                            <ul class="text-center">
                              <li><a href="#"><i class="fa-regular fa-message"></i></a></li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header"> 
                    <div class="title flex-fill"><i class="fa-regular fa-flag danger-500"></i>Overdue Requests</div>
                  </div>
                  <div class="card-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" style="width: 40%"><span>Name</span></th>
                          <th scope="col" style="width: 25%"><span>Status</span></th>
                          <th scope="col" style="width: 15%"><span>Due On</span></th>
                          <th scope="col" style="width: 20%"><span>Design Type</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="lead-text">Black Friday Sale</td>
                          <td>
                            <div class="badge-status revision">Being Revised</div>
                          </td>
                          <td class="text danger-500">Nov. 17th</td>
                          <td class="text">Email Graphic</td>
                        </tr>
                        <tr>
                          <td class="lead-text">Autumn design</td>
                          <td>
                            <div class="badge-status revision">Being Revised</div>
                          </td>
                          <td class="text danger-500">Nov. 17th</td>
                          <td class="text">Display Banner Ads</td>
                        </tr>
                        <tr>
                          <td class="lead-text">TMS - Custom Frames for Catalog</td>
                          <td>
                            <div class="badge-status inprogress">In Progress</div>
                          </td>
                          <td class="text danger-500">Nov. 17th</td>
                          <td class="text">Facebook Ad</td>
                        </tr>
                        <tr>
                          <td class="lead-text">11/21 - U.S. AntibioticWeek - Benefits of Probiotics </td>
                          <td>
                            <div class="badge-status review">Ready for Review</div>
                          </td>
                          <td class="text danger-500">Nov. 17th</td>
                          <td class="text">Email Graphic</td>
                        </tr>
                        <tr>
                          <td class="lead-text">Unspoken Consulting 5 Facebook Ad Creatives - 2</td>
                          <td>
                            <div class="badge-status inprogress">In Progress</div>
                          </td>
                          <td class="text danger-500">Nov. 17th</td>
                          <td class="text">Facebook Ad</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="card mt-4">
                  <div class="card-header"> 
                    <div class="title flex-fill"><i class="fa-regular fa-gauge"> </i>Account Satisfaction</div>
                  </div>
                  <div class="card-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" style="width: 45%"><span>Account</span></th>
                          <th scope="col" style="width: 25%"><span>Requests</span></th>
                          <th scope="col" style="width: 20%"><span>Satisfaction</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="lead-text">Urban Gorilla Studios LLC</td>
                          <td class="text">6</td>
                          <td class="text">
                            <div class="progress">
                              <div class="progress-bar success-500-bg" role="progressbar" aria-label="Basic example" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="lead-text">Ideal Living, Inc.</td>
                          <td class="text">111</td>
                          <td class="text">
                            <div class="progress">
                              <div class="progress-bar warning-500-bg" role="progressbar" aria-label="Basic example" style="width: 43%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="lead-text">Rocket Clicks</td>
                          <td class="text">38</td>
                          <td class="text">
                            <div class="progress">
                              <div class="progress-bar warning-500-bg" role="progressbar" aria-label="Basic example" style="width: 62%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="lead-text">Clear Skies Marketing Group LLC</td>
                          <td class="text">179</td>
                          <td class="text">
                            <div class="progress">
                              <div class="progress-bar danger-500-bg" role="progressbar" aria-label="Basic example" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="lead-text">The Modern Wall</td>
                          <td class="text">315</td>
                          <td class="text">
                            <div class="progress">
                              <div class="progress-bar success-500-bg" role="progressbar" aria-label="Basic example" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-bubble"><i class="fa-regular fa-message"></i>
      <div class="bubble-text">Support Chat</div>
    </div>
    <script src="./assets/js/scripts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
  </body>
</html>