<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Pug-Sass Starter</title>
    <!-- Styles-->
    <link href="/assets/css/styles.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6826777e4e.js" crossorigin="anonymous"></script>
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  </head>
  <body>
    <div class="contents overflow-hidden">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="page-header">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumbs">
                  <li class="breadcrumbs-item active" aria-current="page"><i class="fa-regular fa-house-chimney-blank"></i></li>
                  <li class="breadcrumbs-item div-slash"><i class="fa-regular fa-slash-forward"></i></li>
                  <li class="breadcrumbs-item">Activity Hub</li>
                </ol>
              </nav>
              <div class="header-content">
                <div class="page-title"><i class="fa-light fa-bell"></i>Activity Hub</div>
                <div class="actions">
                  <div class="input-group"><span class="input-group-text"><i class="fa-regular fa-magnifying-glass"></i></span>
                    <input class="form-control" type="text" placeholder="Search activities" aria-label="Example" aria-describedby="addon" data-bs-toggle="tooltip" data-bs-title="Search through your activities">
                  </div>
                  <div class="btn btn-tertiary-gray" data-bs-toggle="tooltip" data-bs-title="Filter activities by"><i class="fa-regular fa-filter-list me-2"></i>Filter by: All</div>
                  <div class="btn btn-tertiary-gray" data-bs-toggle="tooltip" data-bs-title="Sort activities by"><i class="fa-regular fa-bars-sort me-2"></i>Sort by: Date</div>
                </div>
              </div>
              <div class="header-options">
                <ul class="tab-menu">
                  <li class="tab-item active"><a href="#">
                       All</a></li>
                  <li class="tab-item"><a href="#">
                       Mentions</a></li>
                  <li class="tab-item"><a href="#">
                       New Registrations</a></li>
                  <li class="tab-item"><a href="#">
                       Feedback</a></li>
                  <li class="tab-item"><a href="#">
                       Designers</a></li>
                  <li class="tab-item"><a href="#">
                       Marketplace Sales</a></li>
                  <li class="tab-item"><a href="#">
                       Pinned</a></li>
                  <li class="tab-item"><a href="#">
                       Archived</a></li>
                </ul>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="contents d-flex flex-row" style="height: 624px; padding: 0 !important">
                <ul class="notification-list overflow-auto" style="height: 624px">
                  <li class="current"><a href="#">
                      <div class="avatar-label-group">
                        <div class="avatar">
                          <div class="avatar-container"></div>
                          <div class="online-indicator-on"></div>
                        </div>
                      </div>
                      <div class="notification-content">
                        <div class="notification-header">
                          <div class="notification-title">Request assigned to you!</div>
                          <div class="notification-time">3 mins ago</div>
                        </div>
                        <div class="notification-body">John Oliveira assigned <span class="highlight-text">Community Health Day! </span>to you</div>
                      </div></a></li>
                  <li><a href="#">
                      <div class="avatar-label-group">
                        <div class="avatar">
                          <div class="avatar-container"></div>
                          <div class="online-indicator-on"></div>
                        </div>
                      </div>
                      <div class="notification-content">
                        <div class="notification-header">
                          <div class="notification-title">Request assigned to you!</div>
                          <div class="notification-time">3 mins ago</div>
                        </div>
                        <div class="notification-body">John Oliveira assigned <span class="highlight-text">Community Health Day! </span>to you</div>
                      </div></a></li>
                  <li><a href="#">
                      <div class="avatar-label-group">
                        <div class="avatar">
                          <div class="avatar-container"></div>
                          <div class="online-indicator-on"></div>
                        </div>
                      </div>
                      <div class="notification-content">
                        <div class="notification-header">
                          <div class="notification-title">Request assigned to you!</div>
                          <div class="notification-time">3 mins ago</div>
                        </div>
                        <div class="notification-body">John Oliveira assigned <span class="highlight-text">Community Health Day! </span>to you</div>
                      </div></a></li>
                  <li class="notification-read"><a href="#">
                      <div class="avatar-label-group">
                        <div class="avatar">
                          <div class="avatar-container"></div>
                          <div class="online-indicator-on"></div>
                        </div>
                      </div>
                      <div class="notification-content">
                        <div class="notification-header">
                          <div class="notification-title">Request assigned to you!</div>
                          <div class="notification-time">3 mins ago</div>
                        </div>
                        <div class="notification-body">John Oliveira assigned <span class="highlight-text">Community Health Day! </span>to you</div>
                      </div></a></li>
                  <li class="notification-read"><a href="#">
                      <div class="avatar-label-group">
                        <div class="avatar">
                          <div class="avatar-container"></div>
                          <div class="online-indicator-on"></div>
                        </div>
                      </div>
                      <div class="notification-content">
                        <div class="notification-header">
                          <div class="notification-title">Request assigned to you!</div>
                          <div class="notification-time">3 mins ago</div>
                        </div>
                        <div class="notification-body">John Oliveira assigned <span class="highlight-text">Community Health Day! </span>to you</div>
                      </div></a></li>
                  <li class="notification-read"><a href="#">
                      <div class="avatar-label-group">
                        <div class="avatar">
                          <div class="avatar-container"></div>
                          <div class="online-indicator-on"></div>
                        </div>
                      </div>
                      <div class="notification-content">
                        <div class="notification-header">
                          <div class="notification-title">Request assigned to you!</div>
                          <div class="notification-time">3 mins ago</div>
                        </div>
                        <div class="notification-body">John Oliveira assigned <span class="highlight-text">Community Health Day! </span>to you</div>
                      </div></a></li>
                  <li class="notification-read"><a href="#">
                      <div class="avatar-label-group">
                        <div class="avatar">
                          <div class="avatar-container"></div>
                          <div class="online-indicator-on"></div>
                        </div>
                      </div>
                      <div class="notification-content">
                        <div class="notification-header">
                          <div class="notification-title">Request assigned to you!</div>
                          <div class="notification-time">3 mins ago</div>
                        </div>
                        <div class="notification-body">John Oliveira assigned <span class="highlight-text">Community Health Day! </span>to you</div>
                      </div></a></li>
                  <li class="notification-read"><a href="#">
                      <div class="avatar-label-group">
                        <div class="avatar">
                          <div class="avatar-container"></div>
                          <div class="online-indicator-on"></div>
                        </div>
                      </div>
                      <div class="notification-content">
                        <div class="notification-header">
                          <div class="notification-title">Request assigned to you!</div>
                          <div class="notification-time">3 mins ago</div>
                        </div>
                        <div class="notification-body">John Oliveira assigned <span class="highlight-text">Community Health Day! </span>to you</div>
                      </div></a></li>
                </ul>
                <div class="container-fluid">
                  <div class="contents" style="height: 600px">
                    <div class="row">
                      <div class="col-4">
                        <h6>Profile Picture</h6><span>Maecenas ultrices eu sapien at sollicitudin. In ac lacus sed nisi congue tristique.</span>
                      </div>
                      <div class="col-7 offset-1">
                        <div class="container-fluid">
                          <div class="d-flex flex-row justify-items-start align-items-center gap-5 align-items-stretch">
                            <div class="d-flex flex-column justify-items-center align-items-center">
                              <div class="avatar avatar-2xl"></div>
                              <div class="actions text-center">
                                <div class="btn btn-sm btn-secondary-gray mt-2">Change Photo</div>
                                <div class="mt-2"><a class="link-danger">
                                    <div class="text-xs">Remove Photo</div></a></div>
                              </div>
                            </div>
                            <div class="banner banner-primary">
                              <div class="content">
                                <div class="feat-icon feat-icon-primary">
                                  <div class="feat-icon-circle feat-icon-primary"><i class="fa-regular fa-lightbulb-exclamation-on"></i></div>
                                </div>
                                <div>You can upload files up to <b>3MB </b><br>and with a maximum resolution of <b>2000 x 2000 </b>pixels</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="content-divider"></div>
                    <div class="row">
                      <div class="col-4">
                        <h6>Personal Information</h6><span>Maecenas ultrices eu sapien at sollicitudin. In ac lacus sed nisi congue tristique.</span>
                      </div>
                      <div class="col-7 offset-1">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col">
                              <label class="form-label" for="ControlInput1">Full Name</label>
                              <input class="form-control" id="ControlInput1" type="text" placeholder="Your full name">
                            </div>
                            <div class="col">
                              <label class="form-label" for="ControlInput1">Email Address</label>
                              <input class="form-control" id="ControlInput1" type="text" placeholder="Your email address">
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col">
                              <label class="form-label" for="ControlInput1">Phone Number</label>
                              <input class="form-control" id="ControlInput1" type="text" placeholder="+00 00000000">
                            </div>
                            <div class="col">
                              <label class="form-label" for="ControlInput1">ZIP Code</label>
                              <input class="form-control" id="ControlInput1" type="text" placeholder="000000">
                            </div>
                            <div class="col">
                              <label class="form-label" for="ControlInput1">Timezone</label>
                              <select class="form-select form-select-sm" aria-label="Select Example">
                                <option selected>Select your timezone</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="content-divider"></div>
                    <div class="row">
                      <div class="col-4">
                        <h6>Account Information</h6><span>Maecenas ultrices eu sapien at sollicitudin. In ac lacus sed nisi congue tristique.</span>
                      </div>
                      <div class="col-7 offset-1">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col">
                              <div class="position-relative">
                                <label class="form-label" for="ControlInput1">Accounts</label>
                                <input class="form-control" id="ControlInput1" type="text" placeholder="">
                                <div class="tag tag-sm position-absolute" style="top: 2.15rem; left: 0.5rem">
                                  <div class="tag-content">
                                     Default<i class="fa-regular fa-close"></i></div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <label class="form-label" for="ControlInput1">Company</label>
                              <input class="form-control" id="ControlInput1" type="text" placeholder="Input Placeholder">
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col">
                              <label class="form-label" for="ControlInput1">Account Manager</label>
                              <input class="form-control" id="ControlInput1" type="text" placeholder="Input Placeholder">
                            </div>
                            <div class="col">
                              <label class="form-label" for="ControlInput1">Rolse</label>
                              <input class="form-control" id="ControlInput1" type="text" placeholder="Input Placeholder">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="content-divider"></div>
                    <div class="row">
                      <div class="col-4">
                        <h6>Change Password</h6><span>Maecenas ultrices eu sapien at sollicitudin. In ac lacus sed nisi congue tristique.</span>
                      </div>
                      <div class="col-7 offset-1">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col">
                              <label class="form-label" for="ControlInput1">New Password</label>
                              <input class="form-control" id="ControlInput1" type="text" placeholder="Input Placeholder">
                            </div>
                            <div class="col">
                              <label class="form-label" for="ControlInput1">Comfirm New Password</label>
                              <input class="form-control" id="ControlInput1" type="text" placeholder="Input Placeholder">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="content-divider"></div>
                    <div class="row">
                      <div class="col-4">
                        <h6 class="danger-500">Suspend Account</h6><span>Suspending this account will archive the account and all its users. User's subscription of the account will be deleted. You will still be able to impersonate the user but user will not be able to log in</span>
                      </div>
                      <div class="col-7 offset-1">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col">
                              <button class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#confirmSuspend"><i class="fa-regular fa-ban"></i>Suspend Account</button>
                            </div>
                            <div class="modal modal-sm fade" id="confirmSuspend" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                  <div class="modal-body">
                                    <div class="text-center">
                                      <div class="feat-icon">
                                        <div class="feat-icon-circle feat-icon-lg feat-icon-danger"><i class="fa-regular fa-circle-exclamation"></i></div>
                                      </div>
                                      <div class="modal-title">Are you sure?</div>Are you sure you would like to suspend this account?
                                      You can't revert this action
                                    </div>
                                  </div>
                                  <div class="modal-actions">
                                    <div class="row">
                                      <div class="col-6">
                                        <button class="btn btn-danger d-block" type="button">Suspend</button>
                                      </div>
                                      <div class="col-6">
                                        <button class="btn btn-secondary-gray d-block" type="button" data-bs-dismiss="modal">Cancel</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-bubble"><i class="fa-regular fa-message-question"></i>
      <div class="bubble-text">Support Chat</div>
    </div>
    <script src="./assets/js/scripts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
  </body>
</html>