<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Pug-Sass Starter</title>
    <!-- Styles-->
    <link href="/assets/css/styles.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6826777e4e.js" crossorigin="anonymous"></script>
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  </head>
  <body>
    <div class="contents overflow-hidden">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="page-header">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumbs">
                  <li class="breadcrumbs-item active" aria-current="page"><i class="fa-regular fa-house-chimney-blank"></i></li>
                  <li class="breadcrumbs-item div-slash"><i class="fa-regular fa-slash-forward"></i></li>
                  <li class="breadcrumbs-item"><a href="#">Components</a></li>
                  <li class="breadcrumbs-item div-slash"><i class="fa-regular fa-slash-forward"></i></li>
                  <li class="breadcrumbs-item div-slash">Toasts</li>
                </ol>
              </nav>
              <div class="header-content">
                <div class="page-title"> <i class="fa-light fa-credit-card"></i>Toasts</div>
                <div class="actions">
                  <div class="btn btn-secondary-gray" data-bs-title="Update payment information" type="button" data-bs-toggle="modal" data-bs-target="#updatePayment"><i class="fa-regular fa-credit-card me-2"></i>Update Payment</div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="contents">
                <div class="row">
                  <div class="col">
                    <button class="btn btn-primary" id="liveToastBtn" type="button">Show live toast</button>
                    <div class="toast-container position-fixed bottom-0 p-3" style="left: 220px">
                      <div class="toast" id="liveToast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header"><img class="rounded me-2" src="..." alt="..."><strong class="me-auto">Bootstrap</strong><small>11 mins ago</small>
                          <button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">Hello, world! This is a toast message.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const toastTrigger = document.getElementById('liveToastBtn')
      const toastLiveExample = document.getElementById('liveToast')
      if (toastTrigger) {
      	toastTrigger.addEventListener('click', () => {
      		const toast = new bootstrap.Toast(toastLiveExample)
      
      		toast.show()
      	})
      }
    </script>
    <div class="chat-bubble"><i class="fa-regular fa-message-question"></i>
      <div class="bubble-text">Support Chat</div>
    </div>
    <script src="./assets/js/scripts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
  </body>
</html>