extends ./../layouts/default-layout.pug
block content

	.contents

		.text-d-md-semibold.black Avatars

		//- AVATAR

		.card.mt-4
		
			.card-header Avatar

			.card-body

				.content

					.row

						//- TYPES 

						.text-md-medium.gray-500.mb-4.mt-3 Types
						
						.col-1

							.mb-3.text-center

								.avatar
									.avatar-container

								br
								.text-xs-medium.mt-3 Image

						.col-1

							.mb-3.text-center

								.avatar.avatar-placeholder
									.avatar-container
										span JO

								br
								.text-xs-medium.mt-3 Text Placeholder

						.col-1

							.mb-3.text-center

								.avatar.avatar-placeholder
									.avatar-container
										i.fa-regular.fa-user

								br
								.text-xs-medium.mt-3 Icon Placeholder

				.border-bottom
				.content

					.row

						//- TYPES 

						.text-md-medium.gray-500.mb-4.mt-3 Shapes
						
						.col-1

							.mb-3.text-center

								.avatar
									.avatar-container

								br
								.text-xs-medium.mt-3 Circle

						.col-1

							.mb-3.text-center

								.avatar.avatar-square
									.avatar-container

								br
								.text-xs-medium.mt-3 Square

				.border-bottom
				.content

					.row

						//- TYPES 

						.text-md-medium.gray-500.mb-4.mt-3 Indicators
						
						.col-1

							.mb-3.text-center

								.avatar
									.avatar-container
									.online-indicator-on

								br
								.text-xs-medium.mt-3 Online

						.col-1

							.mb-3.text-center

								.avatar
									.avatar-container
									.online-indicator-off

								br
								.text-xs-medium.mt-3 Offline

				.border-bottom
				.content

					.row

						//- TYPES 

						.text-md-medium.gray-500.mb-4.mt-3 Sizes
						
						.col-1

							.mb-3.text-center

								.avatar.avatar-xs
									.avatar-container
									.online-indicator-on

								br
								.text-xs-medium.mt-3 Extra Small (XS)

						.col-1

							.mb-3.text-center

								.avatar.avatar-sm
									.avatar-container
									.online-indicator-on

								br
								.text-xs-medium.mt-3 Small (SM)

						.col-1

							.mb-3.text-center

								.avatar
									.avatar-container
									.online-indicator-on

								br
								.text-xs-medium.mt-3 Default

						.col-1

							.mb-3.text-center

								.avatar.avatar-lg
									.avatar-container
									.online-indicator-on

								br
								.text-xs-medium.mt-3 Large (LG)

						.col-1

							.mb-3.text-center

								.avatar.avatar-xl
									.avatar-container
									.online-indicator-on

								br
								.text-xs-medium.mt-3 Extra Large (XL)

						.col-1

							.mb-3.text-center

								.avatar.avatar-2xl
									.avatar-container
									.online-indicator-on

								br
								.text-xs-medium.mt-3 Extra Extra Large (2XL)

		//- AVATAR LABEL GROUP

		.card.mt-4
		
			.card-header Avatar Label Group

			.card-body

				.content

					.row

						//- TYPES 

						.text-md-medium.gray-500.mb-4.mt-3 Types
						
						.col-2

							.mb-3.text-center

								//- START
								
								.avatar-label-group
									.avatar
										.avatar-container
									.avatar-label-group-container
										span.title John Oliveira
										span.subtitle john@nlc.com

								//- END

								br
								.text-xs-medium.mt-3 Default

						.col-2

							.mb-3.text-center

								//- START

								.avatar-label-group
									.avatar
										.avatar-container
										.online-indicator-on
									.avatar-label-group-container
										span.title John Oliveira
										span.subtitle john@nlc.com

								//- END

								br
								.text-xs-medium.mt-3 Indicator

				.border-bottom

				.content

					.row

						//- SIZES 

						.text-md-medium.gray-500.mb-4.mt-3 Sizes
						
						.col-2

							.mb-3.text-center

								//- START
								
								.avatar-label-group.avatar-label-group-sm
									.avatar
										.avatar-container
										.online-indicator-on
									.avatar-label-group-container
										span.title John Oliveira
										span.subtitle john@nlc.com

								//- END

								br
								.text-xs-medium.mt-3 Small (SM)

						.col-2

							.mb-3.text-center

								//- START
								
								.avatar-label-group
									.avatar
										.avatar-container
										.online-indicator-on
									.avatar-label-group-container
										span.title John Oliveira
										span.subtitle john@nlc.com

								//- END

								br
								.text-xs-medium.mt-3 Default

						.col-2

							.mb-3.text-center

								//- START
								
								.avatar-label-group.avatar-label-group-lg
									.avatar
										.avatar-container
										.online-indicator-on
									.avatar-label-group-container
										span.title John Oliveira
										span.subtitle john@nlc.com

								//- END

								br
								.text-xs-medium.mt-3 Large

						.col-2

							.mb-3.text-center

								//- START
								
								.avatar-label-group.avatar-label-group-xl
									.avatar
										.avatar-container
										.online-indicator-on
									.avatar-label-group-container
										span.title John Oliveira
										span.subtitle john@nlc.com

								//- END

								br
								.text-xs-medium.mt-3 Extra Large

		//- AVATAR GROUP

		.card.mt-4
		
			.card-header Avatar Group

			.card-body

				.content

					.row

						//- AVATAR ADD BUTTON 

						.text-md-medium.gray-500.mb-4.mt-3 Avatar Add Button
						
						.col-1

							.mb-3.text-center

								//- START
								
								.avatar-add-button.avatar-add-button-xs
									.avatar-container
										i.fa-regular.fa-plus

								//- END

								br
								.text-xs-medium.mt-3 Extra Small (XS)
						.col-1

							.mb-3.text-center

								//- START
								
								.avatar-add-button.avatar-add-button-sm
									.avatar-container
										i.fa-regular.fa-plus

								//- END

								br
								.text-xs-medium.mt-3 Small (SM)

						.col-1

							.mb-3.text-center

								//- START
								
								.avatar-add-button
									.avatar-container
										i.fa-regular.fa-plus

								//- END

								br
								.text-xs-medium.mt-3 Default

				.border-bottom
				.content

					.row

						//- TYPES 

						.text-md-medium.gray-500.mb-4.mt-3 Types
						
						.col-2

							.mb-3.text-center

								//- START

								.avatar-group

									ul.avatar-list
										
										li.avatar
											.avatar-container
										li.avatar
											.avatar-container

										li.avatar.avatar-placeholder
											.avatar-container
												span JO
										li.avatar
											.avatar-container
										li.avatar
											.avatar-container
										li.avatar.avatar-placeholder
											.avatar-container
												span +8
										li.avatar-add-button
											.avatar-container
												i.fa-regular.fa-plus

								//- END

								br
								.text-xs-medium.mt-3 Indicator