extends ./../layouts/default-layout.pug
block content

  .contents

    .text-d-md-semibold.black Buttons

    .text-d-xs-medium.mt-3.gray-700 Buttons Types

    .mt-3.p-4(style="border: 1px solid #eee; border-radius: 12px")

      .row.justify-content-start
        .col

          .text-md-medium.gray-500.mb-2 Text Only

          button.btn.btn-sm.btn-primary Button Sample


        .col

          .text-md-medium.gray-500.mb-2 Lead Icon + Text

          button.btn.btn-sm.btn-primary.lead-icon 
            i.fa-regular.fa-circle
            |Button Sample


        .col

          .text-md-medium.gray-500.mb-2 Text + Tracking Icon

          button.btn.btn-sm.btn-primary.trail-icon 
            |Button Sample
            i.fa-regular.fa-circle


        .col

          .text-md-medium.gray-500.mb-2 Dot + Text

          button.btn.btn-sm.btn-primary.lead-dot 
            i.fa-solid.fa-circle-small
            |Button Sample


        .col

          .text-md-medium.gray-500.mb-2 Icon Only

          button.btn.btn-sm.btn-primary.icon 
            i.fa-regular.fa-circle


    .text-d-xs-medium.mt-3.gray-700 Buttons Sizes

    .mt-3.p-4(style="border: 1px solid #eee; border-radius: 12px")

      .row.justify-content-start
        .col

          .text-md-medium.gray-500.mb-2 Small (SM)

          button.btn.btn-sm.btn-primary Button Sample

        .col

          .text-md-medium.gray-500.mb-2 Medium (MD)

          button.btn.btn-md.btn-primary Button Sample

        .col

          .text-md-medium.gray-500.mb-2 Large (LG)

          button.btn.btn-lg.btn-primary Button Sample

        .col

          .text-md-medium.gray-500.mb-2 Extra Large (XL)

          button.btn.btn-xl.btn-primary Button Sample

        .col

          .text-md-medium.gray-500.mb-2 Extra Extra Large (2XL)

          button.btn.btn-2xl.btn-primary Button Sample
          

      

    .text-d-xs-medium.mt-3.gray-700 Button Colors

    .mt-3.p-4(style="border: 1px solid #eee; border-radius: 12px")

      .row.justify-content-start
        .col-2

          .text-md-medium.gray-500.mb-2 Primary

          button.btn.btn-sm.btn-primary Button Sample 

        .col-2

          .text-md-medium.gray-500.mb-2 Secondary Color

          button.btn.btn-sm.btn-secondary-color Button Sample 

        .col-2

          .text-md-medium.gray-500.mb-2 Secondary Gray

          button.btn.btn-sm.btn-secondary-gray Button Sample

        .col-2

          .text-md-medium.gray-500.mb-2 Secondary Dark

          button.btn.btn-sm.btn-secondary-dark Button Sample

        .col-2

          .text-md-medium.gray-500.mb-2 Tertiary Color

          button.btn.btn-sm.btn-tertiary-color Button Sample

        .col-2

          .text-md-medium.gray-500.mb-2 Tertiary Gray

          button.btn.btn-sm.btn-tertiary-gray Button Sample

        .col-2

          .text-md-medium.gray-500.mb-2.mt-3 Danger

          button.btn.btn-sm.btn-danger Button Sample

        .col-2

          .text-md-medium.gray-500.mb-2.mt-3 Danger Secondary

          button.btn.btn-sm.btn-danger-secondary Button Sample

        .col-2

          .text-md-medium.gray-500.mb-2.mt-3 Success

          button.btn.btn-sm.btn-success Button Sample