extends ./../layouts/default-layout.pug
block content

	section#alerts.p-3.mb-4

		.container

			.text-d-md-semibold.black Icons

			//- INPUT

			.card.mt-4

				//- INPUT SIZES
				
				.card-header Feature Icons

				.card-body

					.content

						.row

							//- TYPES 

							.text-md-medium.gray-500.mb-4.mt-3 Types
							
							.col-1

								.mb-3.text-center

									.feat-icon
										.feat-icon-circle.feat-icon-primary
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Circle

							.col-1

								.mb-3.text-center

									.feat-icon
										.feat-icon-square.feat-icon-primary
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Square

							//- SIZES 

							.text-md-medium.gray-500.mb-4.mt-3 Sizes
							
							.col-1
								
								.mb-3.text-center

									.feat-icon
										.feat-icon-circle.feat-icon-xs.feat-icon-primary
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Extra Small

							.col-1
								
								.mb-3.text-center

									.feat-icon
										.feat-icon-circle.feat-icon-sm.feat-icon-primary
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Small

							.col-1
								
								.mb-3.text-center

									.feat-icon
										.feat-icon-circle.feat-icon-primary
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Default

							.col-1
								
								.mb-3.text-center

									.feat-icon
										.feat-icon-circle.feat-icon-lg.feat-icon-primary
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Large

							.col-1
								
								.mb-3.text-center

									.feat-icon
										.feat-icon-circle.feat-icon-xl.feat-icon-primary
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Extra Large

							//- COLORS 

							.text-md-medium.gray-500.mb-4.mt-3 Colors
							
							.col-1

								
								.mb-3.text-center

									.feat-icon
										.feat-icon-circle.feat-icon-primary
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Primary

							.col-1
								
								.mb-3.text-center

									.feat-icon
										.feat-icon-circle.feat-icon-gray
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Gray

							.col-1
								
								.mb-3.text-center

									.feat-icon
										.feat-icon-circle.feat-icon-danger
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Danger

							.col-1
								
								.mb-3.text-center

									.feat-icon
										.feat-icon-circle.feat-icon-warning
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Warning

							.col-1
								
								.mb-3.text-center

									.feat-icon
										.feat-icon-circle.feat-icon-success
											i.fa-regular.fa-zap

									.text-xs-medium.mt-3 Success

