extends ./../layouts/default-layout.pug
block content

	section#alerts.p-3.mb-4

		.container

			.text-d-md-semibold.black Links

			//- AVATAR

			.card.mt-4
			
				.card-header Links

				.card-body

					.content

						.row

							//- TYPES 

							.text-md-medium.gray-500.mb-4.mt-3 Colors
							
							.col-2

								.mb-3.text-center

									a.link-primary(href="#") This is a link

									.text-xs-medium.mt-3 Primary

							.col-2

								.mb-3.text-center

									a.link-gray(href="#") This is a link

									.text-xs-medium.mt-3 Gray

							.col-2

								.mb-3.text-center

									a.link-info(href="#") This is a link

									.text-xs-medium.mt-3 Info

							.col-2

								.mb-3.text-center

									a.link-dark(href="#") This is a link

									.text-xs-medium.mt-3 Dark

							.col-2

								.mb-3.text-center

									a.link-warning(href="#") This is a link

									.text-xs-medium.mt-3 Warning

							.col-2

								.mb-3.text-center

									a.link-danger(href="#") This is a link

									.text-xs-medium.mt-3 Danger

							.col-2

								.mb-3.text-center

									a.link-success(href="#") This is a link

									.text-xs-medium.mt-3 Success