extends ./../layouts/default-layout.pug
block content

	.contents

		.row

			.col-6


				.card
					
					.card-header
						.title Sample

					.card-body
						.content

							.row

								.col

									ul.tab-menu
										li.tab-item
											a(href="#") 
												| Settings
												.badge.badge-sm.badge-gray 5
										li.tab-item
											a(href="#") 
												| Teams
												.badge.badge-sm.badge-gray 5
										li.tab-item
											a(href="#") 
												| Products
												.badge.badge-sm.badge-gray 5
										li.tab-item.active
											a(href="#") 
												| Users
												.badge.badge-sm.badge-primary 5
										li.tab-item
											a(href="#") 
												| Designations
												.badge.badge-sm.badge-gray 5