extends ./../layouts/default-layout.pug
block content

	section#alerts.p-3.mb-4

		.container-fluid.p-2

			.text-d-md-semibold.black Tags
			.row

				.col-6


					.card.mt-4

						//- INPUT SIZES
						
						.card-header
							.title Sizes

						.card-body
							.content

								.row

									.col

										.mb-3
											| We use the 
											b .progress 
											| as a wrapper to indicate the max value of the progress bar.
											| .
								
										.tag.tag-sm
											.tag-content
												| Small
										.tag
											.tag-content
												| Default
										.tag.tag-lg
											.tag-content
												| Large

				.col-6


					.card.mt-4

						//- INPUT SIZES
						
						.card-header
							.title Colors

						.card-body
							.content

								.row

									.col

										.mb-3
											| We use the 
											b .progress 
											| as a wrapper to indicate the max value of the progress bar.

										.tag.mt-3
											.tag-content Default
										.tag.mt-3.tag-gray
											.tag-content Gray
										.tag.mt-3.tag-warning
											.tag-content Warning
										.tag.mt-3.tag-danger
											.tag-content Danger
										.tag.mt-3.tag-success
											.tag-content Success
										.tag.mt-3.tag-blue-gray
											.tag-content Blue Gray
										.tag.mt-3.tag-blue-light
											.tag-content Blue Light
										.tag.mt-3.tag-blue
											.tag-content Blue
										.tag.mt-3.tag-indigo
											.tag-content Indigo
										.tag.mt-3.tag-pink
											.tag-content Pink
										.tag.mt-3.tag-rose
											.tag-content Rosé
										.tag.mt-3.tag-orange
											.tag-content Orange
				.col-6


					.card.mt-4

						//- INPUT SIZES
						
						.card-header
							.title Inverted Colors

						.card-body
							.content

								.row

									.col

										.mb-3
											| We use the 
											b .progress 
											| as a wrapper to indicate the max value of the progress bar.

										.tag.tag-invert.mt-3
											.tag-content Default
										.tag.mt-3.tag-gray-invert
											.tag-content Gray
										.tag.mt-3.tag-warning-invert
											.tag-content Warning
										.tag.mt-3.tag-danger-invert
											.tag-content Danger
										.tag.mt-3.tag-success-invert
											.tag-content Success
										.tag.mt-3.tag-blue-gray-invert
											.tag-content Blue Gray
										.tag.mt-3.tag-blue-light-invert
											.tag-content Blue Light
										.tag.mt-3.tag-blue-invert
											.tag-content Blue
										.tag.mt-3.tag-indigo-invert
											.tag-content Indigo
										.tag.mt-3.tag-pink-invert
											.tag-content Pink
										.tag.mt-3.tag-rose-invert
											.tag-content Rosé
										.tag.mt-3.tag-orange-invert
											.tag-content Orange

				.col-6


					.card.mt-4
						
						.card-header
							.title Close Button

						.card-body
							.content

								.row

									.col

										.mb-3
											| We use the 
											b .progress 
											| as a wrapper to indicate the max value of the progress bar.

										.tag.mt-3
											.tag-content 
												| Default
												i.fa-regular.fa-close
										.tag.mt-3.tag-gray
											.tag-content 
												| Gray
												i.fa-regular.fa-close
										.tag.mt-3.tag-warning
											.tag-content 
												| Warning
												i.fa-regular.fa-close
										.tag.mt-3.tag-danger
											.tag-content 
												| Danger
												i.fa-regular.fa-close
										.tag.mt-3.tag-success
											.tag-content 
												| Success
												i.fa-regular.fa-close
										.tag.mt-3.tag-blue-gray
											.tag-content 
												| Blue Gray
												i.fa-regular.fa-close
										.tag.mt-3.tag-blue-light
											.tag-content 
												| Blue Light
												i.fa-regular.fa-close
										.tag.mt-3.tag-blue
											.tag-content 
												| Blue
												i.fa-regular.fa-close
										.tag.mt-3.tag-indigo
											.tag-content 
												| Indigo
												i.fa-regular.fa-close
										.tag.mt-3.tag-pink
											.tag-content 
												| Pink
												i.fa-regular.fa-close
										.tag.mt-3.tag-rose
											.tag-content 
												| Rosé
												i.fa-regular.fa-close
										.tag.mt-3.tag-orange
											.tag-content 
												| Orange
												i.fa-regular.fa-close
				.col-6


					.card.mt-4
					
						.card-header
							.title Tag Count

						.card-body
							.content

								.row

									.col

										.mb-3
											| We use the 
											b .progress 
											| as a wrapper to indicate the max value of the progress bar.

										.tag.mt-3
											.tag-content 
												| Default
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-gray
											.tag-content 
												| Gray
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-warning
											.tag-content 
												| Warning
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-danger
											.tag-content 
												| Danger
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-success
											.tag-content 
												| Success
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-blue-gray
											.tag-content 
												| Blue Gray
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-blue-light
											.tag-content 
												| Blue Light
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-blue
											.tag-content 
												| Blue
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-indigo
											.tag-content 
												| Indigo
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-pink
											.tag-content 
												| Pink
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-rose
											.tag-content 
												| Rosé
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-orange
											.tag-content 
												| Orange
												.tag-count
													| 4
												i.fa-regular.fa-close
								.row

									.col

										.mb-3
											| We use the 
											b .progress 
											| as a wrapper to indicate the max value of the progress bar.

										.tag.tag-invert.mt-3
											.tag-content 
												| Default
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-gray-invert
											.tag-content 
												| Gray
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-warning-invert
											.tag-content 
												| Warning
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-danger-invert
											.tag-content 
												| Danger
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-success-invert
											.tag-content 
												| Success
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-blue-gray-invert
											.tag-content 
												| Blue Gray
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-blue-light-invert
											.tag-content 
												| Blue Light
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-blue-invert
											.tag-content 
												| Blue
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-indigo-invert
											.tag-content 
												| Indigo
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-pink-invert
											.tag-content 
												| Pink
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-rose-invert
											.tag-content 
												| Rosé
												.tag-count
													| 4
												i.fa-regular.fa-close
										.tag.mt-3.tag-orange-invert
											.tag-content 
												| Orange
												.tag-count
													| 4
												i.fa-regular.fa-close